/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
.wrapper{
    background-color: #242B33;
}
.fon{
    max-width: 1920px;
    width:100%;
    height: 840px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}
.conteiner{
    max-width: 1100px;
    width: 100%;
    height: 4800px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}
header{
    max-width: 1100px;
    width: 100%;
    height: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    width: 30%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.log_cont{
    max-width: 138px;
    width: 100%;
    height:83px ;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.log_log{
font-family: 'Imbue', serif;
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 54px;
color: #FFFFFF;
margin-left: 21%;
}
.log_name{
font-family: Raleway;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.12em;
color: #FFFFFF;
margin-left: 10.45%;
}
.nav{
    width: 54%;
    justify-content: center;
    display: flex;
    flex-direction: row ;
    margin-right: 3.32%;
}
.nav_rel{
    max-width:568px ;
    width: 100%;
    height: 16px;
    margin-top: 9%;
    justify-content:space-between;
    display: flex;
    flex-direction: row ;
}
.nav_rel a{
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.05em;

color: #FFFFFF;
}
.first-screen{
    margin: 0 auto;
    max-width: 590px;
    height: 470px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.art_div{
    margin-top:23%;
}
.first-screen article{
margin: 0 auto;
font-family:'Playfair Display', serif;;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 64px;
text-align: center;
color: #D4C17F;
}
.first-screen a{
    max-width: 40px;
    width: 100%;
    height: 40px;
    margin: 0px 46% 10% 47%;
}
a img{
    object-fit: cover;
    width: 100%;

}
.fs_info{
    max-width: 590px;
    width: 100%;
    height: 22px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.fn_location{
    max-width:250px;
    width: 100%;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fn_loc_log{
    max-width: 22px;
    width: 100%;
    height: 22px;
    margin-left: 13%;
}
.loc_fullname{
    max-width: 220px;
    width: 100%;
    height:27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.loc_fullname div{
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
}
.fn_telephone{
    max-width:250px;
    width: 100%;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fn_tel_log{
    max-width: 22px;
    width: 100%;
    height: 22px;
    margin-left: 23%;
}
.mob_fullname{
    max-width: 220px;
    width: 100%;
    height:27px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mob_fullname div{
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
}
.second-screen{
    margin: 0 auto;
    margin-top: 24%;
    max-width: 870px;
    height: 470px;
    width: 100%;
}
.second_img{
    max-width: 301px;
    width: 100%;
    height:507px ;
    position: relative;
    left: 94%;
    bottom: 57%;
}
@media (max-width:1200px){
    .second_img{
        left:84%;
    }
}


/* Parts2 */
.parts{
    margin-top:53% ;
    max-width: 794px;
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.parts .dl_1,.dl_2,.dl_3,.dl_4,.dl_5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* max-width: 190px;
    width: 100%;
    height: 90px; */
}
.dl_logo{
    max-width: 80px;
    width: 100%;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 13%;
}
.dl_logo img{
    max-width: 80px;
    width: 100%;
    height: 80px;
}
.dl_name_bord{
    max-width: 198px;
    width: 100%;
    height: 24px;
}
.ssf,.sss{
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 27px;
text-align: center;
color: #FFFFFF;
}